@font-face{
    font-family: pressStart2p;
    src: url(fonts/PressStart2P-Regular.ttf);
}
body{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 61, 61);
    color: aliceblue;
}
div{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: black;
    width: 700px;
    height: 300px;
    margin: 20px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 70px;
    margin-top: 100px;

}
P{
    margin-top: 115px;
    font-family: pressStart2p;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btn{
    display: flex;
    gap: 70px;
}
.btn.a{
    background-color: black;
}
.btn .github:hover{
    transform: scale(1.2);
    transition: all 0.1s;
    
}
.btn .linkedin:hover{
    transform: scale(1.2);
    transition: all 0.1s;
}          
.btn .instagram:hover{
    transform: scale(1.2);
    transition: all 0.1s;
} 